@import 'src/assets/styles/mixins/media.scss';

.wrapper {
    background: #fafafa;
    min-height: 500px;
    margin-bottom: 24px;
    padding: 50px 70px;
}

.inputBlock {
    width: 400px;
    margin-bottom: 24px;
}


.inputNumber {
    width: 100% !important;
}

.topBlock {
    display: flex;
    justify-content: space-between;
}

.firstFormItem {
    display: flex;
    justify-content: center;
}

.secondFormItem {
    display: flex;
    justify-content: space-between;
}

.generalFields {
    margin-right: 50px;
}

.secondFields {
    margin-top: 45px;
}

.quality {
    display: flex;

}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;

}


//.ant-col .ant-col-6 .ant-checkbox-wrapper .ant-checkbox-inner span{
//    width: 20px !important;
//    height: 20px !important;
//    font-size: 18px;
//}
//.ant-form label {
//    font-size: 18px;
//}
//.ant-checkbox-inner {
//    width: 20px !important;
//    height: 20px !important;
//}
//.ant-checkbox-inner::after {
//    left: 22.5%;
//    width: 6.71428571px;
//    height: 10.14285714px;
//}